# TODO: package djeese-fs better, so that not needed packages like Django can be removed here
Twisted==12.0.0
argparse==1.2.1
certifi==0.0.8
chardet==1.0.1
distribute==0.6.24
pyOpenSSL==0.13.1
requests==0.11.2
wsgiref==0.1.2
zope.interface==3.8.0
